// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {

}

.header {
  &__wrapper {
    margin: 10px 40px;
  }

  &__left {
    display: grid;
    grid-template-columns: 135px 1fr;
    align-items: center;

    &-menu {
      display: flex;
    }
  }

}