<!-- Подвал -->
<footer id="footer">
  <div class="container">
    <!-- <div class="mouse-parallax-bg"></div> -->
    <div class="footer">
      <div class="footer-wrapper">
        <div class="footer__left">
          <div class="footer__left-logo">
            <a href="/" class="logo">
              <img src="assets/img/global/footer/logo.png" alt="">
            </a>
            <div class="footer__address">
              <p class="footer__address-postadress">
                446204, Россия, г. Новокуйбышевск, ул. Островского, д. 34
              </p>
              <p class="footer__address-phones">
                <a href="tel:+79372020214">+7 (937) 202-02-14</a>,&nbsp;<a href="tel:+79372019202+">+7 (937)
                  201-92-02</a>
              </p>
              <p class="footer__address-mail">
                <a href="mailto:order@taza-pro.ru">order@taza-pro.ru</a>
              </p>
            </div>
            <!-- /.footer__address -->
          </div>
        </div>
        <!-- /.footer__left -->
        <div class="footer__catalog">
          <p class="footer__catalog-title">Каталог</p>
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item menu-item current-menu-item "><a href="#" class="link">Производство молока</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Молочные фермы</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Птицефабрики</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Мясопереработка</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Свиноводство</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Рыбная промышленность</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Пиво и напитки</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">ЖКХ и водоподготовка</a></li>
            </ul>
          </nav>
          <!-- /.nav.nav--footer -->
        </div>
        <!-- /.footer__catalog -->
        <div class="footer__menu">
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item menu-item current-menu-item "><a href="#" class="link">Каталог</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">О компании</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Новости и статьи</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Партнерам</a></li>
              <li class="nav__item menu-item"><a href="#" class="link">Контакты</a></li>
            </ul>
          </nav>
          <!-- /.nav.nav--footer -->
        </div>
        <!-- /.footer__menu -->
        <div class="footer__right">
          <div class="footer__right-wrapper">
            <p>Мы в соцсетях:</p>
            <div class="footer__right-social">
              <a href="#" class="logo">
                <picture class="lazy">
                  <img class="image review image--cover lazy__item" data-src="assets/img/global/footer/rutub.png"
                    alt="">
                </picture>
              </a>
              <a href="#" class="logo">
                <picture class="lazy">
                  <img class="image review image--cover lazy__item" data-src="assets/img/global/footer/tg.png" alt="">
                </picture>
              </a>
              <a href="#" class="logo">
                <picture class="lazy">
                  <img class="image review image--cover lazy__item" data-src="assets/img/global/footer/vk.png" alt="">
                </picture>
              </a>
            </div>

            <div class="footer__right-callback">
              <a href="#" class="callback">
                Заказать звонок
              </a>
            </div>
            <!-- /.footer__right-callback -->
          </div>
          <!-- /.footer__right-wrapper -->
        </div>
        <!-- /.footer__right -->
      </div>
      <!-- /.footer-wrapper -->

      <div class="footer__copyright">
        <p class="footer__copyright-left">
          Copyright © САМАРАХИМТЕХНОЛОГИЯ 2024. Все Права Защищены.&nbsp;<a href="#">Условия использования и положения. Политика конфиденциальности</a>
        </p>
        <p class="footer__copyright-right">
          Сайт выполнен <a href="https://artfactor.ru" target="_blank">АртФактор</a>
        </p>
      </div>
      <!-- /.footer__copyright -->

    </div>
    <!-- /.footer -->
  </div>
  <!-- /.container -->
</footer>

<!-- Скрипты -->
<!-- build:js js/bundle.min.js -->
<script src="temp/bundle.js"></script>
<!-- endbuild -->
</body>

</html>