.professional {
  .container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }

  &-wrapper {
    @include breakpoint($breakpoint-laptop) {
      padding: 100px 80px;
    }
    @include breakpoint($breakpoint-notebook) {
      gap: 15px;
      padding: 60px 30px;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-template-columns: 1fr;
      padding: 40px 15px;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 196px;
    // background: url("../assets/img/layout/section/professional/bg-left.svg") left 100px no-repeat,
    //   url("../assets/img/layout/section/professional/bg-right.svg") right 33px no-repeat rgba(238, 246, 231, 1);
  }

  .mouse-parallax-bg {
    @include breakpoint($breakpoint-notebook) {
      height: 1489px;
      background-position: left 100px, right 10px top 33px;
      background-size: 25%, 40%;
    }

    position: absolute;
    z-index: -1;
    width: 110%;
    height: 989px;
    background: url("../assets/img/layout/section/professional/bg-left.svg") left 100px no-repeat,
      url("../assets/img/layout/section/professional/bg-right.svg") right 100px top 33px no-repeat
        rgba(238, 246, 231, 1);
  }

  // &__info {

  &__info-title {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 1/2;
      grid-column: 1/3;
      font-size: 32px;
      line-height: 43px;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-column: 1/2;
      font-size: 24px;
      line-height: 32px;
    }

    padding-bottom: 24px;
    font-weight: 700;
    font-size: 56px;
    font-family: $font-second;
    line-height: 76.27px;
  }

  &__info-text1,
  &__info-text2 {
    font-weight: $weight-Regular;
    line-height: 24px;
  }

  &__info-text1 {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    @include breakpoint($breakpoint-mobile) {

    }

    grid-row: 2/3;
  }

  &__info-text2 {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 2/3;
      grid-column: 2/3;
      padding-top: 0;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: 4/5;
      grid-column: 1/2;
    }

    grid-row: 3/4;
    padding-top: 20px;
  }

  .btn-green {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 3/4;
      grid-column: 1/3;
      padding: 10px 6px 10px 65px;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: 5/6;
      grid-column: 1/2;
      margin-top: 5px;
    }

    grid-row: 5/6;
    margin-top: 45px;
    padding: 15px 6px 15px 65px;
  }

  // }

  &__photo {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 4/5;
      grid-column: 1/3;
      padding: 0 105px;
    }
    @include breakpoint($breakpoint-tablet) {
      padding: 0 40px;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: 3/4;
      grid-column: 1/2;
      padding: 0 20px;
    }

    grid-row: 1/6;
  }
}
