// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

.slider__menu {
  .swiper-slide {
    position: relative;

    .slide__info {
      position: absolute;
      top: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      &-title {
        width: 60%;
        color: $color-text__white;
        font-weight: 700;
        font-size: 64px;
        font-family: $font-second;
        line-height: 75px;
        text-align: center;
      }

      &-text {
        width: 60%;
        color: $color-text__white;
        font-weight: 400;
        font-size: 24px;
        font-family: $font-second;
        line-height: 32px;
        text-align: center;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 1px solid rgba(208, 223, 197, 1);
    backdrop-filter: blur(3px);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $palette-white;
    font-weight: 700;
    font-size: 26px;
  }

  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 110px);
  }

  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 110px);
  }

  .green__menu {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3px;
    margin-top: -176px;

    &-item {
      height: 176px;
      border-radius: 150px 150px 0 0;
      opacity: 0.9;
      background: rgba(70, 194, 134, 0.8);
      transition: $transition ease;

      &:hover {
        height: 219px;
        margin-top: -43px;
        padding-top: 43px;
        background: linear-gradient(179.93deg, #46C286 0.06%, #0080A9 110.52%);
        // transition: 0.5s ease;

        picture.active {
          opacity: 1;
          filter: drop-shadow(0 0 20px $palette-white);
          transition: .7s ease;
        }

        picture.first {
          opacity: 0;
          transition: $transition ease;
        }
      }

      &--link {
        position: relative;
        display: grid;
        grid-template-rows: 115px auto;
        align-items: end;
        justify-content: center;
        justify-items: center;
        padding-top: 50px;
        color: $color-text__white;

        picture {
          position: absolute;
          justify-self: center;
          align-self: center;
        }

        picture.active {
          opacity: 0;
        }

        img {
          max-width: 130px;
        }
      }
    }
  }
}
