.slider__menu {
  .container {
    max-width: 100%;
  }

  .swiper-slide {
    @include breakpoint($breakpoint-mobile) {
      min-height: 310px;
    }

    position: relative;

    img {
      @include breakpoint($breakpoint-mobile) {
        min-height: 310px;
      }
    }

    .slide__info {
      @include breakpoint($breakpoint-notebook) {
        top: 20%;
      }
      @include breakpoint($breakpoint-mobile) {
        top: 10%;
      }

      position: absolute;
      top: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      &-title {
        @include breakpoint($breakpoint-laptop) {
          font-size: 42px;
          line-height: 51px;
        }
        @include breakpoint($breakpoint-notebook) {
          width: 90%;
        }
        @include breakpoint($breakpoint-tablet) {
          width: 100%;
          font-size: 30px;
          line-height: 31px;
        }

        width: 60%;
        color: $color-text__white;
        font-weight: 700;
        font-size: 64px;
        font-family: $font-second;
        line-height: 75px;
        text-align: center;
      }

      &-text {
        @include breakpoint($breakpoint-laptop) {
          font-size: 18px;
          line-height: 24px;
        }
        @include breakpoint($breakpoint-notebook) {
          width: 90%;
        }
        @include breakpoint($breakpoint-tablet) {
          width: 100%;
          font-size: 18px;
          line-height: 21px;
        }

        width: 60%;
        color: $color-text__white;
        font-weight: 400;
        font-size: 24px;
        font-family: $font-second;
        line-height: 32px;
        text-align: center;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include breakpoint($breakpoint-notebook) {
      display: none;
    }

    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 1px solid rgba(208, 223, 197, 1);
    backdrop-filter: blur(3px);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $palette-white;
    font-weight: 700;
    font-size: 26px;
  }

  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 110px);
  }

  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 110px);
  }

  .green__menu {
    @include breakpoint($breakpoint-laptop) {
      margin-top: -120px;
    }
    @include breakpoint($breakpoint-notebook) {
      margin-top: -75px;
    }
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3px;
    margin-top: -176px;

    &-item {
      @include breakpoint($breakpoint-laptop) {
        height: 120px;
        border-radius: 100px 100px 0 0;
      }
      @include breakpoint($breakpoint-notebook) {
        height: 75px;
      }

      height: 176px;
      border-radius: 150px 150px 0 0;
      opacity: 0.9;
      background: rgba(70, 194, 134, 0.8);
      transition: $transition ease;

      &:hover {
        @include breakpoint($breakpoint-laptop) {
          height: 163px;
          padding-top: 23px;
        }
        @include breakpoint($breakpoint-notebook) {
          height: 118px;
          padding-top: 23px;
        }

        height: 219px;
        margin-top: -43px;
        padding-top: 43px;
        background: linear-gradient(179.93deg, #46C286 0.06%, #0080A9 110.52%);
        // transition: 0.5s ease;

        picture.active {
          opacity: 1;
          filter: drop-shadow(0 0 20px $palette-white);
          transition: .7s ease;
        }

        picture.first {
          opacity: 0;
          transition: $transition ease;
        }
      }

      &--link {
        @include breakpoint($breakpoint-laptop) {
          padding-top: 20px;
        }
        @include breakpoint($breakpoint-notebook) {
          padding-top: 10px;
          grid-template-rows: 75px auto;
        }

        position: relative;
        display: grid;
        grid-template-rows: 115px auto;
        align-items: end;
        justify-content: center;
        justify-items: center;
        padding-top: 50px;
        color: $color-text__white;
        text-align: center;

        picture {
          position: absolute;
          justify-self: center;
          align-self: center;
        }

        picture.active {
          opacity: 0;
        }

        img {
          @include breakpoint($breakpoint-notebook) {
            max-width: 80px;
            max-height: 50px;
          }

          max-width: 130px;
        }

        span {
          @include breakpoint($breakpoint-laptop) {
            display: none;
          }
        }
      }
    }
  }
}
