.technology {
  .container {
    @include breakpoint($breakpoint-laptop) {
      max-width: 100%;
    }

    position: relative;
    overflow: hidden;
  }

  &-wrapper {
    @include breakpoint($breakpoint-bigfoot) {
      gap: 10%;
      padding: 80px 100px;
    }
    @include breakpoint($breakpoint-laptop) {
      gap: 40px;
      padding: 60px;
    }
    @include breakpoint($breakpoint-notebook) {
      gap: 40px;
      padding: 30px;
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
      padding-top: 80px;
    }

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
    justify-items: center;
    padding: 120px 190px;
  }

  .mouse-parallax-bg {
    @include breakpoint($breakpoint-laptop) {
      background-size: 15%, 40%;
    }
    @include breakpoint($breakpoint-notebook) {
      background-position: left 70px, right 10px top 80px;
    }
    @include breakpoint($breakpoint-tablet) {
      width: 140%;
      height: 689px;
      background-size: 25%, 40%;
    }

    position: absolute;
    z-index: -1;
    width: 110%;
    height: 989px;
    background: url("../assets/img/layout/section/technology/bg-left.svg") left 70px no-repeat,
    url("../assets/img/layout/section/technology/bg-right.svg") right 100px top 100px no-repeat;
  }

  &__left {
    @include breakpoint($breakpoint-laptop) {
      width: 549px;
      height: 549px;
    }
    @include breakpoint($breakpoint-notebook) {
      width: 287px;
      height: 287px;
      margin-top: 80px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 749px;
    height: 749px;
    border-radius: 1000px;
    background: linear-gradient(219.5deg, rgba(0, 168, 222, 0.2) 10.09%, rgba(176, 255, 65, 0.2) 90.39%);

    &-item {
      @include breakpoint($breakpoint-laptop) {
        width: 409px;
        height: 409px;
      }
      @include breakpoint($breakpoint-notebook) {
        width: 195px;
        height: 195px;
        font-size: 14px;
        line-height: 15px;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 509px;
      height: 509px;
      border-radius: 1000px;
      background: linear-gradient(32.38deg, rgba(0, 128, 169, 0.6) -13.82%, rgba(141, 198, 63, 0.6) 75.36%);
      font-weight: $weight-Regular;
      font-size: $font-size__text--large;
      line-height: 29.26px;

      &--title {
        @include breakpoint($breakpoint-laptop) {
          padding-left: 50px;
          font-size: 206px;
          line-height: 210px;
        }
        @include breakpoint($breakpoint-notebook) {
          padding-left: 20px;
          font-size: 106px;
          line-height: 110px;
        }

        padding-left: 70px;
        font-weight: $weight-Bold;
        font-size: 256px;
        font-family: $font-second;
        line-height: 260.67px;

        sup {
          @include breakpoint($breakpoint-laptop) {
            font-size: 103px;
            line-height: 110px;
          }

          @include breakpoint($breakpoint-notebook) {
            font-size: 56px;
            line-height: 60px;
          }

          top: -1em;
          font-weight: $weight-Bold;
          font-size: 123px;
          line-height: 123px;
        }
      }

      &--text {
        text-align: center;
      }
    }
  }

  &__right {
    @include breakpoint($breakpoint-notebook) {
      padding-top: 100px;
    }
    @include breakpoint($breakpoint-tablet) {
      padding-top: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: $weight-Regular;
    font-size: $font-size__text--regular;
    line-height: 24px;

    &-title {
      @include breakpoint($breakpoint-notebook) {
        position: absolute;
        top: 60px;
        left: 30px;
        font-size: 32px;
        line-height: 43px;
      }
      @include breakpoint($breakpoint-mobile) {
        font-size: 24px;
        line-height: 32px;
      }

      padding-bottom: 30px;
      font-weight: $weight-Bold;
      font-size: 56px;
      font-family: $font-second;
      line-height: 76.27px;
    }

    .btn-green {
      margin-top: 45px;
    }
  }
}
