.nav--header {
  .nav {
    &__list {
      display: flex;
      gap: 24px;
    }

    &__item {
      font-weight: $weight-Regular;
      font-size: $font-size__text--big;
      line-height: 21.94px;
    }

    &__link {
    }
  }
}
