// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-black: #000000;
$palette-blue: rgba(0, 128, 169, 1);
$palette-green: rgba(142, 199, 64, 1);


// Цветовая палитра текста
$color-text__primary: rgba(0, 38, 50, 1);
$color-text__black: #000000;
$color-text__white: #ffffff;
$color-text__green: rgba(142, 199, 64, 1);


// $link-hover-color: #60d2ff !default;
$link-hover-color: rgba(0, 128, 169, 1) !default;




