@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="home-page" class="page__body">
    <section class="slider__menu">
      <div class="container">
        <div class="slider__menu-wrapper">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="lazy">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/slide01.jpg" alt="">
                </picture>
                <div class="slide__info">
                  <p class="slide__info-title">
                    ТАЗА — современная промышленная санитария
                  </p>
                  <p class="slide__info-text">
                    Формулы всех наших препаратов постоянно испытываются и совершенствуются<br>в научно-исследовательских центрах
                  </p>
                </div>
                <!-- /.slide__info -->
              </div>
              <div class="swiper-slide">
                <picture class="lazy">
                <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/slide01.jpg" alt="">
                </picture>
                <div class="slide__info">
                  <p class="slide__info-title">
                    ТАЗА — современная промышленная санитария
                  </p>
                  <p class="slide__info-text">
                    Формулы всех наших препаратов постоянно испытываются и совершенствуются<br>в научно-исследовательских центрах
                  </p>
                </div>
                <!-- /.slide__info -->
              </div>
              <div class="swiper-slide">
                <picture class="lazy">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/slide01.jpg" alt="">
                </picture>
                <div class="slide__info">
                  <p class="slide__info-title">
                    ТАЗА — современная промышленная санитария
                  </p>
                  <p class="slide__info-text">
                    Формулы всех наших препаратов постоянно испытываются и совершенствуются<br>в научно-исследовательских центрах
                  </p>
                </div>
                <!-- /.slide__info -->
              </div>
            </div>
            <!-- /.swiper-wrapper -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <!-- /.swiper -->

          <div class="green__menu">
            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item01.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item01-active.png" alt="">
                </picture>
                Производство молока
              </a>
            </div>
            <!-- /.green__menu-item -->

            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item02.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item02-active.png" alt="">
                </picture>
                Мясопереработка
              </a>
            </div>
            <!-- /.green__menu-item -->

            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item03.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item03-active.png" alt="">
                </picture>
                Молочные фермы
              </a>
            </div>
            <!-- /.green__menu-item -->

            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item04.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item04-active.png" alt="">
                </picture>
                <div>Свиноводство</div>
              </a>
            </div>
            <!-- /.green__menu-item -->

            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item05.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item05-active.png" alt="">
                </picture>
                Птицефабрики
              </a>
            </div>
            <!-- /.green__menu-item -->

            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item06.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item06-active.png" alt="">
                </picture>
                Рыбная промышленность
              </a>
            </div>
            <!-- /.green__menu-item -->

            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item07.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item07-active.png" alt="">
                </picture>
                Пиво и напитки
              </a>
            </div>
            <!-- /.green__menu-item -->

            <div class="green__menu-item">
              <a href="#" class="green__menu-item--link">
                <picture class="lazy first">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item08.png" alt="">
                </picture>
                <picture class="lazy active">
                  <img class="image review image--cover lazy__item" data-src="assets/img/layout/section/slider/item08-active.png" alt="">
                </picture>
                ЖКХ и водоподготовка
              </a>
            </div>
            <!-- /.green__menu-item -->
          </div>
          <!-- /.green__menu -->
        </div>
        <!-- /.slider__menu-wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.slider__menu -->

    <section class="technology">
      <div class="container">
        <div class="technology-wrapper">
          <div class="technology__left">
            <div class="technology__left-item">
              <p class="technology__left-item--title">20<sup>+</sup></p>
              Позиций товаров
            </div>
            <!-- /.technology__left-item -->
          </div>
          <!-- /.technology__left -->
          <div class="technology__right">
            <h2 class="technology__right-title">Экологически безопасные технологии</h2>
            <p>Мы стремимся разрабатывать экологически безопасные решения, которые идеально подходят для небольших и крупных предприятий
              с индивидуальными требованиями. В нашем кататоге самые современные и профессиональные средства по низким ценам, которые подходят  для любого сектора.</p>
            <a href="#" class="button btn-green">Читайте о нас</a>
          </div>
          <!-- /.technology__right -->

        </div>
        <!-- /.technology-wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.technology -->
  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')